body {
	font-family: Arial, Helvetica, sans-serif;
	color: #7d7d7d;
	min-width: 960px;
	background: url(../images/body-tail.jpg) repeat center top fixed #fff;
	position: relative;
	margin: 0;
	display: block;
}

#main {
	font-size: 11px;
	font-style: normal;
	background: url(../images/main-tail.jpg) repeat center top;
}

#header {
	height: 142px;
	position: relative;
	z-index: 999;
	margin-bottom: 29px;
	background: url(../images/header-tail.gif) repeat-x center top;
}

.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.clearfix {
	zoom: 1;
	display: block;
}

.clearfix:before, .clearfix:after {
	content: ' 0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.container_24 .grid_24 {
	width: 950px;
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

.logo {
	position: absolute;
	left: 0;
	top: 26px;
}

.logo h1, .logo h2 {
	font-size: 3.273em;
	line-height: 1.2em;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	border: none;
	padding: 0;
	text-shadow: none;
}

h1 {
	margin: 0 0 1.9em;
	color: #be2c30;
	border-top: 5px solid #be2c30;
}

.logo h1 a, .logo h2 a {
	color: #303030 !important;
	text-decoration: none;
	background: none;
}

a {
	outline: none;
}

nav.primary {
	position: relative;
	z-index: 2;
}

#topnav {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.0;
	max-width: 760px;
	margin-top: 115px;
	float: left;
}

#topnav li {
	float: left;
	position: relative;
	background: none;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: none;
	vertical-align: top;
	font-size: 13px;
}

#top-search {
	position: absolute;
	right: 0;
	top: 111px;
}